.form-container {
  border: 1px solid #d5d5d5;
  padding: 20px;
  max-width: 400px;
}
.form-container h2 {
  margin: 20px 0 30px;
  color: #464545;
}
.form-container .input-container {
  display: grid;
  grid-column-gap: 20px;
}

.form-container .input-container input {
  margin: 10px 0;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 7px 10px;
}
.form-container .btn {
  margin: 20px 0;
  width: 100%;
}
.form-container .btn button {
  width: 100%;
  cursor: pointer;
  background-color: #f76107;
  padding: 7px;
  border: navajowhite;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}
